#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

header {
  justify-content: center;
  background-color: black;
  width: auto;
  padding-top: 15px;
  padding-bottom: 15px;
}

.search {
  border: 1px solid;
  padding-left: 50px;
  padding-right: 50px;
  margin: 0px;
}

table {
  width: 75%;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto
}

table, td, th {
  border: 1px;
  border-bottom-style: solid;
  text-align: center;
}
